<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\ADMIN\Desktop\Reto Shop\retoshop\static\index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <h1 class="logo">Reto Shop</h1>
                <ul class="nav-links">
                    
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="search-bar">
            <input type="text" id="search" placeholder="Search for products...">
            <button type="Submit" class="search-button">
                Search
            </button>
        </div>
        <div class="product-container">
            <div class="product-card">
                
                <h4>Product 1</h4>
                
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-card">
                
                <h4>Product 2</h4>
                
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-card">
                
                <h4>Product 3</h4>
                
                <button class="add-to-cart">Add to Cart</button>
            </div>
            <div class="product-card">
                
                <h4>Product 4</h4>
                
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>
    </main>
</body>
</html>